@media print {
  @page { size: letter; }
  @page:first {
    @top-left  { content: normal }
    @top-right { content: normal }
  }
  @page:right {
    margin: 1.25in 1in 1.5in 1.5in;
    font: normal 10pt "Gill Sans" !important;
    @top-left  { content: string(pagetitle); }
    @top-right { content: counter(page); }
  }
  @page:left {
    margin: 1.25in 1.5in 1.5in 1in;
    font: normal 10pt "Gill Sans" !important;
    @top-left  { content: counter(page); }
    @top-right { content: string(pagetitle); }
  }

  title { string-set: doctitle content() }

  body { font-family: "Palatino"; margin: 0; color: black; background: white; font-size: 11pt }

  h1 { string-set: pagetitle content(); page-break-before: always }
  h1:first-child { page-break-before: avoid }
  h1, h2, h3 { font-family: "Gill Sans"; color: black }
  pre, p, blockquote { page-break-inside: avoid }
  pre, code { font-family: "Menlo", "DejaVu Sans Mono", "Courier New", "Courier"; font-size: 9pt }
  pre br { display: none }
  a:link, a:visited { background: transparent; text-decoration: none }
  
  #header, #pages, #footer { display: none }
  #content { color: black; width: auto !important; margin: 0; padding: 0; border: 0 }

}
