language: ruby
bundler_args: --without development
script: 'bundle exec rake test'
services:
  - mongodb
  - redis-server
rvm:
- 1.8.7
- 1.9.3
- 2.0.0
env:
- DB=mongodb
- DB=redis
- DB=active_record
gemfile:
  - gemfiles/rails2.gemfile
  - gemfiles/rails3.gemfile
  - gemfiles/rails31.gemfile
  - gemfiles/rails32.gemfile
  - gemfiles/rails4.gemfile
before_script:
- 'echo ''gem: --no-ri --no-rdoc'' > ~/.gemrc' # skip installing docs for gems
- if [[ "`basename $BUNDLE_GEMFILE`" == "gemfiles/rails2.gemfile" ]]; then rvm rubygems 1.8.25; fi # Rubygems 2.0.x fails with Rails 2.3
matrix:
  exclude:
    # Rails 2 is not officially supported on Ruby 1.9.3
    - rvm: 1.9.3
      env: DB=mongodb
      gemfile: gemfiles/rails2.gemfile
    - rvm: 1.9.3
      env: DB=redis
      gemfile: gemfiles/rails2.gemfile
    - rvm: 1.9.3
      env: DB=active_record
      gemfile: gemfiles/rails2.gemfile
    # Rails <= 3.2 is not officially supported on Ruby 2.0.0
    - rvm: 2.0.0
      env: DB=mongodb
      gemfile: gemfiles/rails2.gemfile
    - rvm: 2.0.0
      env: DB=redis
      gemfile: gemfiles/rails2.gemfile
    - rvm: 2.0.0
      env: DB=active_record
      gemfile: gemfiles/rails2.gemfile
    - rvm: 2.0.0
      env: DB=mongodb
      gemfile: gemfiles/rails3.gemfile
    - rvm: 2.0.0
      env: DB=redis
      gemfile: gemfiles/rails3.gemfile
    - rvm: 2.0.0
      env: DB=active_record
      gemfile: gemfiles/rails3.gemfile
    # Rails >=4 officially supports >= Ruby 1.9.3
    - rvm: 1.8.7
      env: DB=mongodb
      gemfile: gemfiles/rails4.gemfile
    - rvm: 1.8.7
      env: DB=redis
      gemfile: gemfiles/rails4.gemfile
    - rvm: 1.8.7
      env: DB=active_record
      gemfile: gemfiles/rails4.gemfile
  allow_failures:
    - rvm: ruby-head
    - rvm: 2.0.0
      env: DB=mongodb
      gemfile: gemfiles/rails31.gemfile
    - rvm: 2.0.0
      env: DB=redis
      gemfile: gemfiles/rails31.gemfile
    - rvm: 2.0.0
      env: DB=active_record
      gemfile: gemfiles/rails31.gemfile
