language: ruby
bundler_args: --without development
script: 'bundle exec rake test'
services:
  - mongodb
  - redis-server
rvm:
- 1.9.3
- 2.0.0
env:
- DB=mongodb
- DB=redis
- DB=active_record
gemfile:
  - gemfiles/rails3.gemfile
  - gemfiles/rails31.gemfile
  - gemfiles/rails32.gemfile
  - gemfiles/rails4.gemfile
before_script:
- 'echo ''gem: --no-ri --no-rdoc'' > ~/.gemrc' # skip installing docs for gems
matrix:
  exclude:
    # Rails <= 3.2 is not officially supported on Ruby 2.0.0
    - rvm: 2.0.0
      env: DB=mongodb
      gemfile: gemfiles/rails3.gemfile
    - rvm: 2.0.0
      env: DB=redis
      gemfile: gemfiles/rails3.gemfile
    - rvm: 2.0.0
      env: DB=active_record
      gemfile: gemfiles/rails3.gemfile
  allow_failures:
    - rvm: ruby-head
    - rvm: 2.0.0
      env: DB=mongodb
      gemfile: gemfiles/rails31.gemfile
    - rvm: 2.0.0
      env: DB=redis
      gemfile: gemfiles/rails31.gemfile
    - rvm: 2.0.0
      env: DB=active_record
      gemfile: gemfiles/rails31.gemfile
