<h3><%=h metric.name %></h3>
<%= simple_format h(Vanity::Metric.description(metric).to_s), :class=>"description" %>
<%=
begin 
  data = Vanity::Metric.data(metric)
  min, max = data.map(&:last).minmax
  js = data.map { |date,value| "['#{date.to_time.httpdate}',#{value}]" }.join(",")
  %{<div class="chart"></div>
    <script type="text/javascript">
    $(function(){Vanity.metric("#{h id}").plot([{label:"#{h metric.name}", data: [#{js}]}])})
    </script>}
rescue Exception=>ex
  %{<div class="error">#{h ex}</div>}
end %>
